body,
html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

canvas {
    display: block;
}


#toggleTheme {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #48659e;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}